@tailwind base;
@tailwind components;
@tailwind utilities;

table.data-table thead {
  border-bottom: 2px solid #a0a0a0;
  font-weight: bold;
}

table.data-table thead th {
  padding: 0.5rem 1rem;
  text-align: left;
}

table.data-table tbody td {
  padding: 0.5rem 1rem;
  text-align: left;
}

@keyframes fadeInBackdrop {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.45);
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.45);
  animation: fadeInBackdrop 0.3s;
  animation-fill-mode: both;
}
